{% extends "::base.html.twig"%}
{% block body %}
    <div class="container">
        <h1>Produtos</h1>
        <a href="{{ url('produto_new') }}" class="btn btn-default">Novo produto</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Categorias</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>{{ produto.id }}</td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>
                            <ul>
                                {% for categoria in produto.categorias %}
                                    <li>{{categoria.id}} - {{categoria.nome}}</li>
                                    {% endfor %}   
                            </ul>
                        </td>
                        <td>
                            <a href="{{path('produto_edit',{'id':produto.id})}}">Editar</a>
                            &nbsp;|&nbsp;
                            <a href="{{path('produto_delete',{'id':produto.id})}}">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
