{% extends "::base.html.twig"%}
{% block body %}
    <table>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Categorias</td>
            <td>Ação</td>
        </tr>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.descricao }}</td>
                <td>
                <ul>
                {% for categoria in produto.categorias %}
                    <li>{{categoria.id}} - {{categoria.nome}}</li>
                 {% endfor %}   
            </ul>
                </td>
                <td>
                    Ações
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
